<ion-content class="container ion-padding">
  <div class="container-box animated fadeIn fast">
    <div class="logo-box">

    </div>


    <div>
      <ion-grid>
          <ion-row>
            <ion-col class="column" size="12">
                <ion-button fill="outline" size="small" class="button" (click)="onClick()">Log In</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
  </div>

    <div>
      <ion-text>
        <p class="welcome-text">By signing up you agree to the <strong class="policies">Terms of Service</strong> and <strong class="policies">Privacy Policy</strong>.</p>
      </ion-text>
    </div>
  </div>



  </ion-content>
